*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

:root {
  --primary-color: #77b815;
  --primary-dark-color: #609511;
  --hover-color: #e76f2c;
  --font-primary-color: black;
  --font-secondary-color: white;
}

h1 {
  color: var(--font-secondary-color);
  text-align: center;
  padding-top: 3.5rem;
  font-family: Righteous;
  font-size: 4.2rem;
}

h2 {
  color: var(--font-primary-color);
  font-family: Righteous;
  font-size: 3.1rem;
}

h3 {
  color: var(--font-primary-color);
  font-family: Righteous;
  font-size: 2.3rem;
}
h4 {
  color: var(--font-primary-color);
  font-family: Libre Baskerville;
  font-size: 1.3rem;
}
p {
  color: var(--font-primary-color);
  font-family: Libre Baskerville;
  font-size: 1rem;
}

body {
  padding: 0;
  margin: 0;
}

header {
  position: static;
  top: 0;
  width: 100%;
  height: 20rem;

  background-color: var(--primary-dark-color);
}

.first_section {
  padding-top: 2rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.third_section {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fourth_section {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
#content {
  padding-top: 2rem;
}
img {
  width: 5rem;
  height: 4rem;
}

#icon {
  display: flex;
  justify-content: center;
}

footer {
  position: static;
  background-color: var(--primary-dark-color);
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
}
footer p {
  color: var(--font-secondary-color);
  text-align: center;
}
footer div {
  padding: 1rem;
}

/* BURGERMENU */
.hidden {
  display: none;
  /*transform:scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

.menu_support {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#menuknap {
  display: flex;
  place-self: right;
  justify-content: right;
  color: #609511;
  font-size: 2.3rem;
}

#menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: right;
  transition: transform 0.3s;
  transform-origin: top left;
  font-family: Righteous;
  color: #609511;
  font-size: 2.3rem;
}

#logo_menu {
  display: none;
}

#logo_burger {
  display: inline;
  height: 8vh;
  width: 3rem;
}

@media only screen and (min-width: 700px) {
  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline;
  }

  #menu {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    background-color: transparent;
    margin-top: 30px;
    font-family: Righteous;
    color: #609511;
    font-size: 2.3rem;
  }

  #logo_menu {
    display: block;
    height: 8vh;
    width: 4rem;
  }

  #logo_burger {
    display: none;
  }
  /*BURGERMENU SLUT*/
}
